data
.env
.idea
.history/

**/.DS_Store
.history/
/*.session.sql
/ssd.tgz
/package-lock.json

backend/models/facial
backend/models/thing
backend/occurance2.csv
backend/occurance.csv
backend/.env_generated
backend/nas
backend/WD
