[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
sqlalchemy = "==1.4.6"
sqlalchemy-serializer = "*"
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
celery = "*"
libsvm = "*"
gunicorn = "*"
tensorflow-hub = "*"
tensorflow = "==2.4.2"
scikit-learn = "*"
python-dotenv = "*"
geopy = "*"
keras-applications = "*"
keras-vggface = "*"
opencv-python-headless = "*"
face-recognition = "*"

[dev-packages]

[requires]
python_version = "3.8"
